
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/StyleDoAn.css">
<div class="row" style="padding-bottom:10px">
    <h4 style="color:red; text-align:center">@ViewBag.ThongBao</h4>
    <h3 style="text-align:center; font-weight:bold ;text-decoration:underline #ffd800">Đăng Nhập</h3>
    <div class="col-lg-6" style="padding-left:20px">
        <table align="center" class="pull-right">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <tr style="height:40px">
                    <td style="text-align:right">Tên đăng nhập: </td>
                    <td>
                        @Html.TextBox("tenDN")
                        @ViewData["Loi1"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td style="text-align:right">Mật khẩu: </td>
                    <td>
                        @Html.Password("matKhau")
                        @ViewData["Loi2"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td></td>
                    <td>
                        <input type="submit" value="Đăng Nhập" />|
                        @Html.ActionLink("Đăng ký", "DangKy", new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-3 " style="display:flex">
        <img src="~/Content/Hinh_web/welcome.jpg" alt="Thumbnail" class="pull-left"/>
    </div>
</div>

